
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

app
job-queue




.env
*.env.local
*.env.*.local

docker-data/
redis-data/


*.test
*.out
coverage.txt

.idea/
*.iws

.vscode/
*.code-workspace

*~
*.swp
*.swo


.directory
.DS_Store